    {{#each blogs as |blog| }}
    <div class="container p-4">
        <section>
            <div class="post border border-secondary border-2 p-2">
                <header class="row p-3"> 
                <h3 class="col-lg-5 col-sm-12 text-start">{{ blog.title }}</h3>
                {{#if loggedIn}}
                <h4 class="col-lg-5 col-sm-12 text center">By: {{ blog.user.username }}</h4>
                {{else}}
                {{/if}}
                <h4 class="col-lg-2 col-sm-12 text-end">{{ format_date blog.date_created }}</h4>
                </header>
                
                {{#if loggedIn }}
                <article class="content text-center border border-secondary border-1 p-2 m-2">
                    {{ blog.content }}
                </article>
                <button class="btn btn-primary col m-2" type="">Comment</button>
                <button class="btn btn-primary col m-2" type="">Update</button>
                <button class="btn btn-danger col m-2" type="">Delete</button>
                {{else}}
                {{/if}}
            </div>
        </section>
    </div>
{{/each}}

<script src="./js/blog.js"></script>